<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password recovering on {{ globalApplicationName }}</title>
</head>
<body>
    Hello! You can change your password:<br>
    <a href="{{ url('password_recovery', {'token': token}) }}">Recover Password</a><br>
    or you can copy url manually:<br>
    {{ url('password_recovery', {'token': token}) }}<br>
    <br>
    <br>
    From {{ globalApplicationName }} team.
</body>
</html>
